/* importando la fuente Inter de google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
/* color de la pagina y reseteo del padding y margin en 0 para q no haya conflicto entre navegadores
    y algunos estilos mas... */
    background: #E5E5E5;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

    padding: 0;
    margin: 0;

}
.logo{
    padding-top: 40px;
    margin-left: 40px;
    width: 5%;
}
main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}
.textArea{
    border: none;
    color: #0A3871;
    margin-top: 90px;
    background: #E5E5E5;
    text-transform: lowercase;
}
.textArea::placeholder{
    color: #0A3871;
}
    
.textArea:focus {
    outline: none;
}

.mensaje{
    
    background: white;
    background-image: url("/assets/Muñeco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 32px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
    height: 700px;
}
.mensaje:focus{
    outline: none;
}
.botones{
    display: flex;
    margin-top: 18px;
}
.btnDesencriptar{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}
.btnEncriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}
.btnCopiar{
   
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
    
}
.informacion{
    color: #495057;
    font-size: 18px;
}